.links {
    display: inline-block;
    float: left;
    width: 100px;
}

.links > a {
    display: block;
    padding: 5px;
}

.links > a,
.links > a:visited,
.links > a:focus {
    color: blue;
}

.links > a:hover {
    color: red;
}